
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<ul>
    <li>@Html.ActionLink("Register Admin", "RegisterAdmin", "Account")</li>
    <li>@Html.ActionLink("Register Manager", "RegisterManager", "Account")</li>
    <li>@Html.ActionLink("Register Employee", "RegisterEmployee", "Account")</li>
    <li>@Html.ActionLink("Register Client", "RegisterClient", "Account")</li>
</ul>
