
    <div class="jumbotron text-center">
        <h2 style="color:midnightblue">@ViewBag.Title</h2>

        <p>Navigate the application via the menu buttons on the navigation panel</p>
        <br />
    </div>

